{
  "presets": [["env", { "modules": false }], "stage-0", "react", "flow"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "style": "css" }]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-0", "react", "flow"],
      "plugins": ["dynamic-import-node"]
    }
  }
}
