.cardStyle {
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 650px;
  text-align: center;
  width: auto;
  @media (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.cardHeader {
  background-color: hsl(220, 0%, 98%);
  margin: 0;
  padding-top: 10px;
  width: 100%;
}

.marginMid {
  margin: 10px;
}

.cardBottom {
  background-color: hsl(220, 12%, 95%);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 10px 0;
}

.itemLabel div {
  line-height: normal;
}

.cardTop {
  display: block;
  flex: 1;
  flex-grow: 1;
  margin: 0 20px 40px;
  overflow: auto;
  @media (max-width: 767.98px) {
    margin: 0;
    padding: 0 10px;
  }
}

.buttonsGroup {
  margin: 0;
}
