@import 'theme';

.topBarMenu {
  background-color: rgba(0, 0, 0, 0);
  float: right;
}

.topBarHeader {
  background: rgb(255, 255, 255);
  border-top: 0.25rem solid $primary-color;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
}

.trigger {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0.625rem;
}

.offlineSpinContainer {
  float: right;
  margin: 0 0.625rem;
}

.offlineSpinner {
  color: #737373;
}

.offlineSpinner i {
  background-color: #f5222d;
}
