@import 'colours';

.topBarMenu {
  background-color: rgba(0, 0, 0, 0);
  float: right;
}

.topBarHeader {
  border-top: 4px solid $primary-colour;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.trigger {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
}

.offlineSpinContainer {
  float: right;
  margin: 0 10px;
}

.offlineSpinner {
  color: #f5222d;
}

.offlineSpinner i {
  background-color: #f5222d;
}
