body {
  background-color: #d9d9d9;
}

.bodyStyle {
  background: whitesmoke;
  margin: 12px 8px;
  min-height: 280;
  padding: 24;
  overflow: auto;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}
